.wrap {
  width: 100%;
  position: relative;
}
.section {
  width: 100%;
  padding: 100px 200px 100px 200px;
}

/* header */

header {
  max-width: 1920px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
  align-items: center;
  position: fixed;
  z-index: 99;
  background: #fff;
  transition: transform 0.3s ease;
}
header.header_hide {
  transform: translateY(-100%);
}
.main_menu {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.main_menu li {
  font-size: 18px;
  transition: 0.3s;
  position: relative;
}
.h_line {
  transition: 0.3s;
  width: 0;
  height: 2px;
  background: #002257;
  position: absolute;
  bottom: -8px;
  left: 0;
}
.main_menu li:hover {
  color: #002257;
}
.main_menu li:hover .h_line {
  width: 100%;
}
.utill {
  display: flex;
  align-items: center;
  gap: 20px;
}
.utill a {
  display: block;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 8px;
}
.langs {
  cursor: pointer;
}
.utill a:hover {
  background: #002257;
  color: #fff;
}
.ham_btn {
  display: none;
}
.main_menu_tab {
  display: none;
}

@media (max-width: 1450px) {
  .main_menu {
    gap: 50px;
  }
}
/* header end  */

.main_btn {
  display: inline-block;
  line-height: 50px;
  width: 150px;
  height: 50px;
  text-align: center;
  background: none;
  border: 1px solid #002257;
  color: #002257;
  border-radius: 6px;
}
.main_btn:hover {
  border: none;
  color: #fff;
  background: #002257;
}
.mb_btn {
  display: none;
  line-height: 50px;
  width: 250px;
  height: 50px;
  text-align: center;
  background: none;
  border: 1px solid #002257;
  color: #002257;
  border-radius: 6px;
}
.mb_btn:hover {
  border: none;
  color: #fff;
  background: #002257;
}

/* button end */

h2 {
  font-size: 48px;
  letter-spacing: -0.01em;
  font-weight: 700;
  margin-bottom: 20px;
}
h3 {
  font-size: 32px;
  letter-spacing: -0.01em;
  font-weight: 600;
}
h4 {
  font-size: 28px;
  letter-spacing: -0.01em;
  font-weight: 500;
}
.sec_title > p {
  width: 470px;
  font-size: 20px;
  line-height: 35px;
  color: #666666;
  margin-bottom: 50px;
}

/* footer  */
footer {
  padding: 50px 200px 80px 200px;
  background: #666;
  color: #fff;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-weight: 200;
}
.f_logo {
  width: 140px;
}
.footer_con_wrap {
  border-bottom: 1px solid #999999;
}
.f_up_area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.footer_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.corp_area {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 50px;
}
.f_sub_menu {
  display: flex;

  align-items: center;
  gap: 30px;
}
.f_sub_menu > li {
  border-left: 1px solid #999999;
  padding-left: 30px;
}
.f_sub_menu > li:first-child {
  border: none;
  padding-left: 0;
}
.f_site {
  width: 150px;
  height: 50px;
  text-align: center;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 6px;
}
.family {
  position: relative;
}
.family ul.f_active {
  opacity: 1;
  visibility: visible;
}
.f_site_list {
  width: 150px;
  position: absolute;
  bottom: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.family ul li {
  width: 100%;
  height: 50px;
  background: #fff;
  border: 1px solid #000;
  color: #000;
}
.family ul li:first-child {
  border-radius: 6px 6px 0 0;
}
.family ul li:last-child {
  border-radius: 0 0 6px 6px;
}
.family ul li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
}
.family ul li:hover {
  background: #002257;
  color: #fff;
}
.f_sub_menu_t {
  display: none;
}
/* footer end  */

/* scroll event */
/* scroll event */

/* 초기 상태 */
.hero_title h1,
.hero_title p,
.section_2 .sec_title_2,
.section_2 .sec_img_2,
.section_2 .mb_btn,
.section_3 .sec_title,
.section_3 .con_3,
.section_3 .swiper-scrollbar,
.section_4 .sec_title_4,
.section_4 .sec_img_4,
.section_4 .mb_btn,
.section_5 .sec_title,
.section_5 .sec_img_5,
.section_5 .sec_btn_5,
.section_5 .sec_btn_5_t,
.section_5 .mb_btn,
.section_6 .sec_title_6,
.section_6 .con_wrap_6,
.section_6 .mb_btn {
  opacity: 0;
  transform: translateY(40px);

  transition:
    opacity 0.7s ease,
    transform 0.7s ease;
}

/* hero */
.hero_section.is_active .hero_title h1 {
  opacity: 1;
  transform: translateY(0);
}

.hero_section.is_active .hero_title p {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}

/* section 2 */
.section_2.is_active .sec_title_2 {
  opacity: 1;
  transform: translateY(0);
}

.section_2.is_active .sec_img_2 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}

.section_2.is_active .mb_btn {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
}

/* section 3 초기 상태 */
.section_3 .sec_title,
.section_3 .con_wrap_3 .con_3,
.section_3 .swiper .swiper-slide,
.section_3 .swiper-scrollbar {
  opacity: 0;
  transform: translateY(40px);

  transition:
    opacity 0.7s ease,
    transform 0.7s ease;
}

/* section 3 활성화 */
.section_3.is_active .sec_title {
  opacity: 1;
  transform: translateY(0);
}

.section_3.is_active .con_wrap_3 .con_3 {
  opacity: 1;
  transform: translateY(0);
}

.section_3.is_active .swiper .swiper-slide {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}

.section_3.is_active .swiper-scrollbar {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
}

/* PC 카드만 순차 등장 */
.section_3 .con_wrap_3 .con_3:nth-child(-n + 3) {
  transition-delay: 0.2s;
}

.section_3 .con_wrap_3 .con_3:nth-child(n + 4) {
  transition-delay: 0.4s;
}
/* section 4 */
.section_4.is_active .sec_title_4 {
  opacity: 1;
  transform: translateY(0);
}

.section_4.is_active .sec_img_4 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}

.section_4.is_active .mb_btn {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
}

/* section 5 */
.section_5.is_active .sec_title {
  opacity: 1;
  transform: translateY(0);
}

.section_5.is_active .sec_img_5 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}

.section_5.is_active .sec_btn_5,
.section_5.is_active .sec_btn_5_t,
.section_5.is_active .mb_btn {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
}

/* section 6 */
.section_6.is_active .sec_title_6 {
  opacity: 1;
  transform: translateY(0);
}

.section_6.is_active .con_wrap_6 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}

.section_6.is_active .mb_btn {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
}
