@media (min-width: 768px) and (max-width: 1279px) {
  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 24px;
  }

  header {
    padding: 0 40px;
    height: 60px;
  }

  header .logo {
    width: 100px;
  }

  header nav,
  header .utill {
    display: none;
  }

  .ham_btn {
    cursor: pointer;
    width: 30px;
    height: 20px;
    display: block;
    transition: 0.3s;
  }
  .ham_btn img {
    width: 100%;
  }
  .main_menu_tab {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 999;

    background: #ffffffcb;
    backdrop-filter: blur(30px);

    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: 0.4s;
  }
  .main_menu_tab.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  .logo {
    display: block;
    width: 100px;
  }
  .tab_header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }
  .tab_utill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  .tab_lang {
    width: 22px;
    cursor: pointer;
  }
  .tab_x {
    width: 30px;
    cursor: pointer;
  }
  .t_main_menu {
    padding: 100px 40px 0px 40px;
  }
  .t_main_menu ul {
    height: 60dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 500;
  }
  .t_main_menu ul li {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: #666;
  }
  .t_main_menu ul li:hover {
    color: #000;
  }
  .under_arrow {
    display: block;
    width: 24px;
  }
  /* header end  */

  .section {
    padding: 80px 40px 50px 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .sec_title_t {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .sec_title {
    width: 500px;
  }
  .sec_title h2 {
    line-height: 48px;
  }
  .sec_title p {
    max-width: 500px;
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
  }
  .sec_img_t {
    width: 100%;
    height: 400px;
  }
  .con_wrap_3 {
    display: none;
  }

  /* footer  */
  footer {
    padding: 50px 40px 80px 40px;
  }
  .f_sub_menu {
    display: none !important;
  }
  .f_sub_menu_t {
    display: flex !important;
    gap: 20px;
    margin-bottom: 30px;
  }
  .f_sub_menu_t > li {
    border-left: 1px solid #999999;
    padding-left: 20px;
  }
  .f_sub_menu_t > li:first-child {
    border: none;
    padding-left: 0;
  }
}
